div.navbar
    div.navbar-start
        div.dropdown
            label(tabindex="0" class="lg:hidden").btn.btn-ghost
                i.fa-solid.fa-bars
            ul(tabindex="0").menu.menu-sm.dropdown-content.mt-3.p-2.shadow.bg-base-100.rounded-box.w-52
                li
                    a(href="/") Accueil
                li 
                    a(href="/about") A propos 
                li
                    a(href="/location/all") Les locations
                li
                    a(href="#") Lien 4
        a(href="/").btn.btn-ghost.normal-case.text-xl Arrée Location 
    div(class="lg:flex").navbar-center.hidden
        ul.menu.menu-horizontal.px-1
            li
                a(href="/") Accueil
            li
                a(href="/about") A propos
            li
                a(href="/location/all") Les locations
            li
                a(href="#") Lien 4
    
    div.navbar-end
        if (!username)
            a(href="/login").btn.btn-accent.mr-2 Connexion
            a(href="/register").btn.btn-accent Inscription
        else 
            - for (var i = 0; i <= 1; i++)
                if roles[i] == "ROLE_ADMIN"
                    a(href="/dashboard").btn.btn-warning Administration
            a(href="/account").btn.btn-warning.ml-2 Compte
            a(href="/signout").btn.btn-warning.ml-2 Déconnexion