div.navbar.container
    div.navbar-start
        a(href="/").btn.btn-ghost.normal-case.text-xl #{title} 
    nav.navbar-center.flex
        ul.menu.menu-horizontal.px-1
            li
                a(href="/") Accueil
            li
                a(href="#") Lien 2
            li
                a(href="#") Lien 3
            li
                a(href="/about") A propos
    div.navbar-end
        a(href="/login").btn.btn-accent.mr-2 Connexion
        a(href="/signin").btn.btn-accent Inscription