extends layout
include mixins/housingTable.pug

block content 
    h1= message
    if (housings != null)
        table.table.table-zebra.w-full
            tr 
                th Nom
                th Code
                th Actions
                    each housing in housings 
                        +housingTable(housing)
    else 
        p Il n'y a rien ici pour le moment