extends layout

block content 
    a(href="/dashboard/users/all").btn.btn-primary Voir tout les utilisateurs
    a(href="/dashboard/housing/all").btn.btn-primary Voir toutes les annonces de locations
    a(href="/dashboard/housing/create").btn.btn-primary Ajouter un logement