block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    link(rel="stylesheet", href="../public/stylesheets/tailwind.css")
    link(rel="stylesheet", href="../public/stylesheets/style.css")
    title #{title}
  body.w-full
    header.mb-5
      include includes/nav.pug
    main.container.mb-5.min-h-screen
      block content
    footer.mt-5
      include includes/footer.pug