extends layout
include mixins/homeCard.pug

block content
    div#home.container
        div#banner
            h1.font-bold.text-3xl.underline.text-center.mb-4 Nom du site
            p.font-bold.text-1xl.text-center.mb-5 Le site de location dans les Monts d'Arrée
        div(x-data="{names: ['Un', 'Deux', 'Trois']}")#home-display.flex.w-full
            +homeCard(names)
            div(class="card w-96 bg-300 shadow-xl")
                figure
                    img(src="./public/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg")
                div(class="card-body")
                    h2(class="card-title") Test
                    p Ceci est un test de card
                    div(class="card-actions.justify-end")
                        button(class="btn.btn-primary") Voir

