block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    script(defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js")
    link(rel="stylesheet", href="/tailwind.css")
    link(rel="stylesheet", href="/style.css")
    title #{title}
  body
    include includes/nav.pug
    main 
      block content