extends layout

block content
    div
        h1 Howdy, #{userProfile.nickname}!
        div 
            div
                h3 Making Us the Best
                h1 Teammate Profile
            pre.Details=JSON.stringify(userProfile, null, 2)
        div
            a(href="/")
                div Log out