mixin card(item)
    div.card.w-96.bg-300.shadow-xl
        figure
            img(src="images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg")
        div.card-body
            h2.card-title= item.name
            p= item.surface
            div.card-actions.justify-end
                a(href="/location/" + item.id).btn.btn-primary Voir
