mixin card(item)
    div.card.w-96.bg-300.shadow-xl
        figure
            img(src="images/abbilyn-rurenko-uOYak90r4L0-unsplash.jpg")
        div.card-body
            h2.card-title= item.name
            p= item.surface
            div.card-actions.justify-end
                a(href="/location/" + item.id).btn.btn-primary Voir
